# Data & User Workspaces
data/
users/
process/

# Temporary & Log Files
*.log
*.dat
*.png
comm

# IDL Swap & Backup Files
*.swp
*.swo
*.swn
*.swm
*.swl
*.swk
*.swj
*.swi
*.sav

# Python Cache
__pycache__/
*.pyc

# IDE / OS Files
.DS_Store
.vscode/
.idea/
